* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sundown;
}

@font-face {
    font-family: sundown;
    src: url("./NeueHaasDisplayMediu.ttf");
}

@font-face {
    font-family: light;
    src: url("./NeueHaasDisplayLight.ttf");
}
@font-face {
    font-family: romanre;
    src: url("./NeueHaasDisplayRoman.ttf");
}
html,
body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    z-index: 10;

}

#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 2vw;
    background-color: #efeae3;
}

nav {
    padding: 2vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

#nav-part2 {

    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #917e78dc;
    border-radius: 50px;
    color: #000000bb;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    font-size: 18px;
    transition: all 0.4s ease;


}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0;
    bottom: -100%;
    transition: all 0.4s ease;
    background-color: black;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0px;
}

nav h3 {
    display: none;
}

#nav-part2 a {
    text-decoration: none;
    color: #000000bb;
    z-index: 9;
    position: relative;
}

#nav-part2 h4:hover a {
    color: rgb(255, 255, 255);
}

.center {
    height: 75vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding-bottom: 8.5vw;

    align-items: flex-end;
    /* background-color: orange; */
}

.center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

.left h3 {
    width: 25vw;
    font-family: sundown;
    font-size: 2vw;
    line-height: 2vw;
}

#page1 video {
    width: 100%;
    position: relative;
    margin-top: 4vw;
    border-radius: 30px;

}

.hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
    filter: blur(25px);
}

.hero1 {
    background-color: #FE320A;
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    position: absolute;
}

.hero2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

.hero3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 30vw;
    position: absolute;
    width: 30vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}


.page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;

}

.moving-text {
    white-space: nowrap;
    overflow-x: auto;
}

.moving-text h1 {
    font-size: 9vw;
    display: inline-block;


}

.moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    display: inline-block;
    white-space: nowrap;
    animation: move 10s linear infinite;
}

.gola {
    height: 70px;
    width: 70px;
    display: inline-block;
    border-radius: 50%;
    background-color: orangered;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.page2-bottom {
    height: 60vh;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 4vw;
    justify-content: space-between;
    /* background-color: white; */
}

.page2-bottom h1 {
    font-size: 4.2vw;
    z-index: 9;
    position: relative;
    font-family: sundown;
    font-weight: 900;
    line-height: 4vw;
}


.bottom-part2 {
    width: 25%;
    border-color: #85351ddc;
}

.bottom-part2 img {
    width: 100%;
    border-radius: 10px;
}

.bottom-part2 img {
    font-weight: 100;
    font-family: light;
    margin-top: 1vw;
}

.page2 .gooey {
    width: 32vw;
    background: linear-gradient(to top, #ff2a00, #ff661f);
    height: 33vw;
    border-radius: 50%;
    top: 58%;
    filter: blur(20px);
    left: 25%;
    animation: gooy 6s linear infinite alternate;
    position: absolute;
}

@keyframes gooy {
    from {
        transform: translate(10%, -10%) skew(0);
    }

    to {
        transform: translate(-10%, 10%) skew(12deg);
    }
}

.guy1 {
    width: 100%;
    height: 100%;

}

.page3 {
    width: 100%;
    min-height: 100vh;
    padding: 0 2vw;
    background-color: #efeae3;
}

.elem {
    width: 100%;
    height: 150px;
    position: relative;

    border-bottom: 1px solid rgba(0, 0, 0, 0.455);
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    z-index: 9;
    position: relative;
}

.elem .overlay {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;

    top: -100%;
    border-radius: 15px;
    transition: all 0.2s ease;
    background-color: #fe511a;
}


.elem:hover .overlay {
    top: 0;
}

.featured_header {
    display: flex;
    padding: 0vw 2vw;
    gap: 8px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

}

.featured_header h6 {
    letter-spacing: .02em;
    text-transform: uppercase;
    font-family: Neuehaasdisplay roman, sans-serif;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.2;
}

.red-dot {
    background-color: orangered;
    border-radius: 100vw;
    width: .5em;
    height: .5em;

}

/* .elem-container{
    width: 100%;
    height: 100%;
} */
.fixed-img {
    height: 30vw;
    width: 25vw;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: fixed;
    left: 50%;
    top: 18%;
    z-index: 50;
}

.page4 {
    min-height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
    position: relative;

}

.swiper {
    width: 100%;
    height: 40vh;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.msw{
    width: 100%;
    display: flex;
    justify-content: baseline;
    min-height: auto;
}
.control{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
}
.imgs {
    width: 100%;
    display: flex;
    justify-content: start;

}

   .swiper-wrapper {
    position: relative;
    width: 333%;
    height: 100%;
    z-index: 1;
    display: flex
;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;

}
.ps {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ps p{
color: black;
    margin-bottom: 0;
    font-size: 1em;
    font-family: romanre;
    font-weight: lighter;
    line-height: 1.4;
   
}

.swiper-slide {

    font-size: 18px;
    padding: 1vw 3vw;
    width: 50%;
border-right: 1px solid #d6d2cb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
object-fit: cover;
    width: 10em;
    height: 100%;
    display: inline-block;
    position: relative;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.swiper-slide {
    width: 60%;

}

.swiper-slide:nth-child(1n) {
    width: 30%;
}

.swiper-slide:nth-child(2n) {
    width: 30%;
}

.swiper-slide:nth-child(3n) {
    width: 30%;
}

.page5 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 2vw 2vw;
    background-color: #efe3e3;
}

.page6 {
    height: 100vh;
    width: 100%;

}

.service-wrapper {
    width: 100%;
    border-radius: 40px;
    padding: 1vw 1vw;
    min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.stab h1 {
    padding: 1vw 6vw;
    font-size: 5vw;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 1;
}

.ptab p {
    margin-bottom: 0;
    font-family: light;
    font-size: 1.3rem;
    font-weight: 700;
    padding: 1vw 6vw;
}

.fser {
    width: 50%;
    width: 50%;
    flex-direction: column;
    display: flex;
    padding: 0vw 2vw;

    gap: 2vw;


}

.sser {
    width: 50%;


}

.sser img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.footer {
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;

}

.footer h1 {
    font-size: 24vw;
    text-align: center;
}

.footer-div {
    height: 20vh;
    z-index: 33;
    width: 100%;
    align-items: center;
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
}

.email h6 {
    font-size: 1.2vw;
    font-weight: 200;
    padding-bottom: 0.5vw;
    border-bottom: 1px solid #d3cdc1df;
    color: #d3cdc1df;
}

.footer-div h3 a {

    font-size: 2.1vw;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.footer-bottom {
    height: 10vh;
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255, 0.255);
}

.footer-bottom div {
    padding: 1vw 0;
    align-items: center;
    display: flex;
    font-size: 1.1vw;
    font-weight: 200;
    align-items: center;
    justify-content: space-between;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 26%;
}

.footer p {
    font-size: 1.3vw;
}

.shape1 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    top: -50%;
    left: -20%;
    width: 90%;
    height: 90%;
    animation-name: shape1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.shape2 {
    position: absolute;
    background-color: #fe330a;
    filter: blur(50px);
    right: -27%;
    top: -27%;
    width: 70%;
    height: 78%;
    animation-name: shape2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes shape1 {
    from {
        transform: rotate(-16deg) skew(0);
    }

    to {
        transform: rotate(-10deg) skew(12deg);
    }
}

@keyframes shape2 {
    from {
        transform: rotate(34deg) skew(0);
    }

    to {
        transform: rotate(28deg) skew(8deg);
    }
}

@media screen and (max-width:600px) {
    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        font-size: 4vw;
        font-weight: 200;
        padding: 3vw 5vw 3vw 10vw;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(171, 171, 171);
        border-image: initial;
        border-radius: 50px;
        z-index: 555;
    }

    .center {
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    .left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    .center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    .page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    .page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    .moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    .moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    .gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    .page2-bottom {
        height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    .page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    .bottom-part2 {
        width: 70%;
        /* background-color: aqua; */
    }

    .bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    .bottom-part2 p {
        font-weight: 200;
        margin-top: 4vw;
        font-size: 4vw;
    }

    .page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */


        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }

    .shape1 {

        width: 90%;
        height: 77%;
    }

    .shape2 {
        width: 70%;
        height: 61%;
    }


    .footer-div h3 a {
        font-size: 6.1vw;
    }

    .footer p {
        font-size: 3.3vw;
    }

    .footer-bottom div {
        padding: 3vw 2px;
        align-items: center;
        flex-direction: column;
        display: flex;
        height: 18vh;
        width: 100%;
        gap: -2px;
        font-size: 4.1vw;
        font-weight: 200;
        align-items: center;
        justify-content: space-between;
    }

    .footer-bottom {

        height: 17vh;
        width: 100%;
    }

    .email {

        flex-direction: column;
        gap: 4vw;
        width: 90%;

    }

    .footer-div {
        flex-direction: column;
        gap: 1rem;
        align-items: baseline;
        justify-content: flex-start;
        height: 35vh;

    }

    .fser {
        width: 100%;
    }

    .sser {
        width: 100%;
    }

    .service-wrapper {
        flex-direction: column;
    }

    .ptab p {
        margin-bottom: 0px;
        font-family: light;
        font-weight: 100;
        font-size: 1rem;
        padding: 1vw 6vw;
    }

    .stab h1 {
        font-size: 3rem;
    }
    .swiper-slide:nth-child(1n) {
    width: 90%;
}

.swiper-slide:nth-child(2n) {
    width: 90%;
}

.swiper-slide:nth-child(3n) {
    width: 90%;
}
}

.fullscr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 339;
    top: -100%;
    transition: all ease 0.5s;
}

.secwrap {
    width: 100%;
}

.re {
    width: 30%;
    padding: 1vw 2vw;

}

.er {
    width: 30%;
    padding: 1vw 2vw;
}




.fulldiv1 {
    height: 64%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-bottom-right-radius: 20;
    padding: 5vw 5vw;

}

.fulldiv1 h3 a {
    text-decoration: none;
    color: #000000;
    font-family: sundown;
}

.fulldiv1 h3 {
    color: black;
    letter-spacing: -.03em;
    text-transform: uppercase;
    font-family: sundown;
    font-size: 4em;
    font-weight: 500;
    margin-top: 10px;
    line-height: 1.1;
    display: inline;

}